<h1>About Me</h1> 
      <p> 
        Finding my passion in software development has allowed my constant curiosity to manifest itself in lines of code. I see software developing as my chance to contribute something great to the world, where my desire to discover, learn and contribute to new technologies is what has enabled me to connect with so many great people within the growing Los Angeles tech community.

      <br/>
        Nothing excites me more than using design-thinking and people skills to tackle interesting and complex problems while creating fun and novel applications. I am looking for meaningful and engaging opportunities to help me grow as a software engineer/web developer.
      </p>