body{
  margin: 0;
  padding: 0;
}

#navbar{
  background-color: #3EA5B0;
  padding-left: 600px;
  height: 80px;
}

#navbar li{
  display: inline;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
  padding-left: 120px;
  padding-bottom: 40px;
}

#navbar a:hover{
  color: #8CE071;
}

a{
  text-decoration: none;
  cursor: pointer;
  outline: none;
  display: inline;
  color: white;
 }

ul{
  list-style-type: none;
  text-align: center;
  display: inline;
}

.banner{
  width: 100%;
  height: 600px;
  padding-top: 10px;
}

